rss to discord.json
{
  "name": "rss to discord",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://www.wired.com/feed/rss "
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -128
      ],
      "id": "14703421-02de-4d4d-b0ea-9200ad9dd9b2",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        -128
      ],
      "id": "c19484de-b22f-4b2d-9562-0e3c76e80479",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1434522831533903984/v52n2XijnS5TWCjM0KmAkm8xgzvxkKLhaTOnLS4RH3BQIq_NIEcd4VKwWXzoxeAwS2hA",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"{{$json['title']}}\\n{{$json['link']}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -272,
        -128
      ],
      "id": "c04c045c-b2bd-4b5f-b7f2-f482d8468504",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "222e2b55-ed7a-4c25-bc35-36d7e468108e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6388a42c8337d589495ba11462bdc57e6ef828fca8c256759a8d5a9f043312d9"
  },
  "id": "48aMkS3TxY57AOeT",
  "tags": []
}