rss to discord/img search to discord/Image search to message.json
{
  "name": "Image search to message",
  "nodes": [
    {
      "parameters": {
        "url": "={{ $json.images[0].original.link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        320,
        -16
      ],
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -128,
        -16
      ],
      "name": "When chat message received"
    },
    {
      "parameters": {
        "resource": "google_images",
        "q": "={{ $json.chatInput }}",
        "locationLanguageSettings": {},
        "searchFilters": {
          "safe": "off"
        },
        "imageOptions": {
          "image_type": "photo"
        },
        "technicalSettings": {},
        "requestOptions": {}
      },
      "type": "@searchapi/n8n-nodes-searchapi.searchApi",
      "typeVersion": 1,
      "position": [
        96,
        -16
      ],
      "name": "Search google_images",
      "credentials": {
        "searchApi": {
          "name": "SearchApi account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "Your discord channel ID",
          "mode": "list",
          "cachedResultName": "CloaK's Secret Den",
          "cachedResultUrl": "https://discord.com/channels/Your discord channel ID"
        },
        "channelId": {
          "__rl": true,
          "value": "Your discord channel ID",
          "mode": "list",
          "cachedResultName": "general",
          "cachedResultUrl": "https://discord.com/channels/Your discord server ID/Your discord channel ID"
        },
        "content": "=Heres your image of (a/an)\n {{ $('When chat message received').item.json.chatInput }} :",
        "options": {},
        "files": {
          "values": [
            {
              "file": "data"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        544,
        -16
      ],
      "name": "Send a message",
      "credentials": {
        "discordOAuth2Api": {
          "id": "Your discord account ID",
          "name": "Discord account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Search google_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search google_images": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}